[submodule "ocaml/OCanren"]
	path = ocaml/OCanren
	url = https://github.com/Kakadu/OCanren.git
	branch = miniKanren2023

[submodule "faster-minikanren"]
	path = faster-minikanren
	url = https://github.com/michaelballantyne/faster-minikanren.git
